torch-ema
ninja
trimesh
opencv-python-headless
tensorboardX
numpy
pandas
tqdm
matplotlib
PyMCubes
rich
dearpygui
packaging
scipy
scikit-learn
Pillow
more-itertools

face_alignment
python_speech_features
numba
resampy
#pyaudio
soundfile==0.12.1
einops
configargparse

lpips==0.1.3
imageio-ffmpeg

transformers==4.46.2
edge_tts
flask
flask_sockets
aiortc
aiohttp_cors

ffmpeg-python
omegaconf
diffusers
accelerate

librosa
openai
websockets==12.0
gradio_client
azure-cognitiveservices-speech
pypdf
pymupdf
rapidocr_onnxruntime

PyJWT
wechatpayv3

# 腾讯云短信验证码
tencentcloud-sdk-python-sms
